# 650710673 jakkaphat katchapong

In [5]:
print("กูว่าแล้ว ว่ามึงต้องอ่าน")

กูว่าแล้ว ว่ามึงต้องอ่าน

In [6]:
type(1.8)

float

In [7]:
x = 5

In [8]:
x = 10
print(x)

10

In [1]:
yourinput = int(input("your input"))
print(type(yourinput))

your input1
<class 'int'>

In [2]:
text = "5+6"
eval(text)

11

In [4]:
print(7/3)
print(7//3)

2.3333333333333335
2

In [5]:
print(2**3)

8

In [6]:
list_x = [1,"1",1.2]

In [7]:
list_x[0]

1

In [17]:
len(list_x)

3

In [10]:
for i in range(4):
    print(i)

0
1
2
3

In [11]:
for i in range(1,4):
    print(i)

1
2
3

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
print("text "*3)

text text text

In [15]:
for i in range(10):
    if i%2 == 0:
        print(i)

0
2
4
6
8