###  Read CSV

In [6]:
import pandas as pd
import numpy as np

customer = pd.read_csv('Customerswithoutnull.csv')

#print(customer)
customer.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)', 'Profession', 'Work Experience',
       'Family Size'],
      dtype='object')

Converting string labels into numbers (Import LabelEncoder)

In [9]:
from sklearn import preprocessing

number = preprocessing.LabelEncoder()

customer['Gender'] = number.fit_transform(customer['Gender'])
print(customer)

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1       1   19              15000                      39
1              2       1   21              35000                      81
2              3       0   20              86000                       6
3              4       0   23              59000                      77
4              5       0   31              38000                      40
5              6       0   22              58000                      76
6              7       0   35              31000                       6
7              8       0   23              84000                      94
8              9       1   64              97000                       3
9             10       0   30              98000                      72
10            11       1   67               7000                      14
11            12       0   35              93000                      99
12            13       0   58              80000                      15
13            14       0   24              91000                      77
14            15       1   37              19000                      13
15            16       1   22              51000                      79
16            17       0   35              29000                      35
17            18       1   20              89000                      66
18            19       1   52              20000                      29
19            20       0   35              62000                      98
20            21       1   35              96000                      35
21            22       1   25               4000                      73
22            23       0   46              42000                       5
23            24       1   31              71000                      73
24            25       0   54              67000                      14
25            26       1   29              52000                      82
26            27       0   45              68000                      32
27            28       1   35              78000                      61
28            29       0   40              18000                      31
29            30       0   23              20000                      87
...          ...     ...  ...                ...                     ...
1935        1971       1   55             107099                      89
1936        1972       1   45             140263                      88
1937        1973       1   98             104249                      12
1938        1974       1   40             168821                      36
1939        1975       0   14             153145                      59
1940        1976       0   41             128960                      43
1941        1977       1   60             127438                      82
1942        1978       1   60             125968                     100
1943        1979       1   84             104589                      85
1944        1980       1    0             165321                      93
1945        1981       0   10              86925                      76
1946        1982       0   62             149797                      19
1947        1983       1   33             137094                      68
1948        1984       0   52              55395                      41
1949        1985       0    2             153622                      51
1950        1986       1   27              74050                      44
1951        1987       0    4              68094                      61
1952        1988       1   63              59244                      80
1953        1989       0   54             118944                      77
1954        1990       0   47              75293                      55
1955        1991       0   30             166983                      69
1956        1992       0   97             129444                      96
1957        1993       1   94             181183                      24
1958        1994       0   64             175254                     100
1959        1995       0   19              54121                      89
1960        1996       0   71             184387                      40
1961        1997       0   91              73158                      32
1962        1998       1   87              90961                      14
1963        1999       1   77             182109                       4
1964        2000       1   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
5            Artist                0            2
6        Healthcare                1            3
7        Healthcare                1            3
8          Engineer                0            3
9            Artist                1            4
10         Engineer                1            3
11       Healthcare                4            4
12        Executive                0            5
13           Lawyer                1            1
14           Doctor                0            1
15       Healthcare                1            2
16        Homemaker                9            5
17       Healthcare                1            6
18    Entertainment                1            4
19           Artist                0            1
20        Homemaker               12            1
21       Healthcare                3            4
22           Artist               13            2
23           Artist                5            2
24        Executive                1            3
25           Artist                1            3
26       Healthcare                9            8
27           Artist                1            3
28           Artist                0            1
29           Artist                5            4
...             ...              ...          ...
1935      Executive                4            6
1936  Entertainment               10            5
1937       Engineer                5            2
1938      Executive                4            5
1939     Healthcare                8            6
1940      Executive                9            4
1941       Engineer                7            2
1942         Lawyer                8            2
1943         Artist               10            2
1944         Doctor                8            1
1945         Artist                7            2
1946         Artist                5            6
1947         Lawyer                4            1
1948      Marketing               10            1
1949         Lawyer                6            6
1950  Entertainment                8            1
1951         Doctor                4            7
1952         Artist                7            1
1953         Artist                4            4
1954         Doctor                6            7
1955         Artist                7            3
1956  Entertainment                5            6
1957      Marketing                9            3
1958         Artist                9            5
1959       Engineer                6            3
1960         Artist                8            7
1961         Doctor                7            7
1962     Healthcare                9            2
1963      Executive                7            2
1964  Entertainment                5            2

[1965 rows x 8 columns]

sklearn library, which can be found in sklearn.naive_bayes:

sklearn.naive_bayes.CategoricalNB:
    for using Naive Bayes on categorical predictor variables.
            
sklearn.naive_bayes.GaussianNB:
    for Naive Bayes on numerical predictor variables, with the assumption
    that these variables follow Gaussian distribution.
    
sklearn.naive_bayes.MultinomialNB:
    the predictor variables represent the counts, a popular application
    is in text classification. Fractional counts like tf-idf may also work.
    
sklearn.naive_bayes.ComplementNB:
    A modification of MultinomialNB which is suitable for imbalanced datasets.
    
sklearn.naive_bayes.BernoulliNB:
    assumes the data follows Bernoulli distribution (i.e. possible values of
    predictor variables are 0 and 1).

## NEW DATA SET

predict "Profession" from NEW DATA

In [10]:
random_values = {'Gender': 1,
 'Age': 63,
 'Annual Income ($)': 186723,
 'Spending Score (1-100)': 24,
 'Work Experience': 1,
 'Family Size': 1}

### Naive Bayes

#### Import Library of Naive Bayes

In [11]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

### GaussianNB

In [15]:
NB_model = GaussianNB()

NB_model.fit(customer[['Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)','Work Experience',
       'Family Size']],customer['Profession'])

predicted= NB_model.predict([[1,63,186723,24,1,1]])

print("Predicted Value:", predicted)

Predicted Value: ['Artist']

### BernoulliNB

In [16]:
NB_model = BernoulliNB()

NB_model.fit(customer[['Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)','Work Experience',
       'Family Size']],customer['Profession'])

predicted= NB_model.predict([[1,63,186723,24,1,1]])

print("Predicted Value:", predicted)

Predicted Value: ['Artist']

### MultinomialNB

In [17]:
NB_model = MultinomialNB()


NB_model.fit(customer[['Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)','Work Experience',
       'Family Size']],customer['Profession'])

predicted= NB_model.predict([[1,63,186723,24,1,1]])

print("Predicted Value:", predicted)

Predicted Value: ['Lawyer']

### K-Nearest Neighbor

In [19]:
from sklearn.neighbors import KNeighborsClassifier

#### n_neighbors=3

In [20]:
KNN_model = KNeighborsClassifier(n_neighbors= 3)

KNN_model.fit(customer[['Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)','Work Experience',
       'Family Size']],customer['Profession'])

#Predict Output
predicted= KNN_model.predict([[1,63,186723,24,1,1]])
print("Predicted Value:", predicted)

Predicted Value: ['Entertainment']

#### n_neighbors=5

In [21]:
KNN_model = KNeighborsClassifier(n_neighbors= 5)

KNN_model.fit(customer[['Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)','Work Experience',
       'Family Size']],customer['Profession'])

#Predict Output
predicted= KNN_model.predict([[1,63,186723,24,1,1]])
print("Predicted Value:", predicted)

Predicted Value: ['Entertainment']