# รหัสนักศึกษา-ชื่อ-นามสกุล (Heading)

# 650710673-จักรพัชร-คัชชาพงษ์

### ในการทำแบบฝึกหัดให้เพิ่ม cell ด้านล่างของโจทย์เพื่อเขียน code

import Library ที่สำคัญในงาน

In [4]:
#Import Python Libraries
import numpy as np
# import scipy as sp
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

1. Read csv file ("Pokemon.csv")

In [5]:
#Read csv file

#df = pd.read_csv("E:/520215/Salaries.csv")  
df = pd.read_csv("Pokemon.csv");

2. เรียกดูข้อมูล 15 แถวแรกและคำนวณค่าเฉลี่ย

In [6]:
df.head(15).mean()

#               6.000000
Total         444.533333
HP             63.466667
Attack         71.600000
Defense        76.066667
Sp. Atk        85.666667
Sp. Def        78.266667
Speed          69.466667
Generation      1.000000
Legendary       0.000000
dtype: float64

3. เลือกข้อมูลตั้งแต่แถวที่ 10-20 ที่มีข้อมูลเพียง 3 คอลัมน์คือ Name, Type 1, Type 2

In [35]:
df[['Name','Type 1','Type 2']][10:21]

                       Name  Type 1  Type 2
10                Wartortle   Water     NaN
11                Blastoise   Water     NaN
12  BlastoiseMega Blastoise   Water     NaN
13                 Caterpie     Bug     NaN
14                  Metapod     Bug     NaN
15               Butterfree     Bug  Flying
16                   Weedle     Bug  Poison
17                   Kakuna     Bug  Poison
18                 Beedrill     Bug  Poison
19    BeedrillMega Beedrill     Bug  Poison
20                   Pidgey  Normal  Flying

4. แสดงโปเกม่อนธาตุน้ำไม่ว่าจะธาตุหลักหรือรอง (Water) 
ที่มีค่าพลังรวมมากกว่า 400 ค่าพลังโจมตีมากว่า 50 พลังงานชีวิตมากกว่า 100 และความเร็วมากกว่า 60

In [34]:
df[ (df['Total'] > 400) & (df['Attack'] > 50) & (df['HP'] > 100) & (df['Speed'] > 60) & (df['Type 1'] == 'Water' ) | (df['Type 2'] == 'Water') & (df['Total'] > 400) & (df['Attack'] > 50) & (df['HP'] > 100) & (df['Speed'] > 60)]
#ff = df[ (df['Total'] > 400) & (df['Attack'] > 50) & (df['HP'] > 100) & (df['Speed'] > 60)]
#water_pokemon = ff[(ff['Type 1'] == 'Water' ) | (ff['Type 2'] == 'Water')]
#water_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
185,171,Lanturn,Water,Electric,460,125,58,58,76,76,67,2,False
400,365,Walrein,Ice,Water,530,110,80,90,95,90,65,3,False
597,537,Seismitoad,Water,Ground,509,105,95,75,85,75,74,5,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False